<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.cloud.dao.OrderMapper">

    <insert id="createOrder" parameterType="com.yan.cloud.pojo.Order">
      INSERT INTO `order` (
            `user_id`,
            `commodity_code`,
            `count`,
            `money`
        )
        VALUES
            ( #{userId}, #{commodityCode}, #{count}, #{money});
    </insert>

</mapper>